.main-wrap {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 1480px;
}

.header {
    font-family: 'AdobeInvisFont' 'Courier' 'MyriadPro-Regular' 'sans-serif';
    text-align: left;
}

.logo-container {
    width: 292px;
    height: 74px;
    margin-top: 61px;
    margin-left: 101px;
    font-size: 80px;
}

.logo {
    color: #000000;
}

.logo-alt {
    color: #4bcaff;
}


/* TOP MENU */

#top--menu {
    height: 70px;
    width: 1280px;
    margin-top: 44px;
    margin-left: 99px;
    background-color: #35444F;
}

.link {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}

.top-menu-item:hover {
    background-color: #222F3A;
}

.top-menu-item {
    display: inline-block;
    justify-content: center;
    font-size: 23px;
    font-family: serif;
    text-align: center;
}

#top-menu-item1 {
    width: 247px;
    height: 22px;
    padding: 27px 41px 21px 203px;
}

#top-menu-item2 {
    width: 68px;
    height: 17px;
    padding: 27px 41px 26px 42px;
}

#top-menu-item3 {
    width: 182px;
    height: 23px;
    padding: 27px 40px 20px 43px;
}

#top-menu-item4 {
    width: 133px;
    height: 22px;
    padding: 27px 182px 21px 45px;
}


/* MAIN-CONTENT
***LEFT MENU ***
*/

ul.nav-left {
    margin-top: 51px;
    margin-left: 100px;
    width: 342px;
    list-style: none;
    float: left;
}

ul.nav-left li {
    height: 63px;
}

ul.nav-left a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #79858D;
    font-size: 23px;
    font-family: serif;
}

ul.nav-left a:hover {
    background-color: #dbdbdb;
    color: #000000;
    padding-left: 69px;
}

#nav-item1 {
    border-top: 1px solid #35444F;
    border-right: 1px solid #35444F;
    border-left: 1px solid #35444F;
}

#nav-item2 {
    border-right: 1px solid #35444F;
    border-left: 1px solid #35444F;
}

#nav-item3 {
    border-right: 1px solid #35444F;
    border-left: 1px solid #35444F;
}

#nav-item4 {
    border-right: 1px solid #35444F;
    border-left: 1px solid #35444F;
}

#nav-item5 {
    border-right: 1px solid #35444F;
    border-bottom: 1px solid #35444F;
    border-left: 1px solid #35444F;
}


/* RIGHT CONTENT */

.right-content {
    margin-top: 50px;
    margin-right: 99px;
    width: 885px;
    height: 529px;
    float: right;
    border: 1px solid #35444F;
}

.photo-container {
    width: 320px;
    height: 381px;
    margin: 75px 268px 73px 297px;
    overflow: hidden;
}

.photo {
    transition: transform 1s;
}

.photo:hover {
    transform: scale(1.5);
}

.column-container {
    float: right;
}

.column1 {
    font-family: serif;
    font-size: 18px;
    text-align: left;
    width: 815px;
    height: 114px;
    margin-top: 50px;
    margin-right: 139px;
    margin-left: 526px;
}

.column2 {
    font-family: serif;
    font-size: 18px;
    text-align: left;
    width: 820px;
    height: 109px;
    margin-top: 30px;
    margin-right: 134px;
    margin-left: 526px;
}


/* FOOTER */

.footer {
    float: left;
    width: 1280px;
    height: 69px;
    background-color: #B4B7BA;
    margin-top: 51px;
    margin-right: 99px;
    margin-bottom: 30px;
    margin-left: 99px;
}

ul.footer-menu {
    width: 809px;
    padding-top: 22px;
    padding-left: 44px;
    list-style: none;
    background-color: #B4B7BA;
}

ul.footer-menu a {
    display: inline-block;
    text-decoration: none;
    color: #0c1927;
    background-color: #B4B7BA;
    font-size: 23px;
    font-family: serif;
}

.footer-menu li {
    float: left;
}

#footer-item1 {
    padding-right: 30px;
}

#footer-item2 {
    padding-right: 30px;
}

#footer-item3 {
    padding-right: 30px;
}

#footer-item4 {
    padding-right: 30px;
}

#footer-item5 {
    padding-right: 0;
}

ul.footer-menu a:hover {
    color: #3181A6;
    text-decoration: underline;
}

#copyright {
    float: right;
    width: 175px;
    height: 20px;
    font-size: 17px;
    font-family: serif;
    color: #010101;
    background-color: #B4B7BA;
}